<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nossos propagadores de conhecimento</h2>
                    <h3 class="section-subheading text-muted">Estes são os responsáveis pela elaboração, escrita e execução das atividades apresentadas npor esse projeto..</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" width="150" height="150" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">As postagens apresentadas neste site foram elaboradas e confeccionadas pelos alunos da disciplina FIS930 - Propagação de Ondas Eletromagnéticas, ofertada ao curso de bacharelado em física pela Universidade Federal de Itajubá. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </section>
